@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar ul{
    display:  flex ;
    gap: 20px;
}

.btn-active{
    background-color: burlywood ;
    padding:1px 4px;
    border-radius: 3px;
}